
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.admin-duyt-s-kin-nyB {
  flex-direction: column;
  background-color: rgba(206, 195, 195, 0.0500000007);
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-leto-j7j {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0.2rem 3.7rem 0.4rem;

    .header-SXw {
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.6rem 0.8rem 1.7rem 1.1rem;
      height: 9.7rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.7rem;

      .auto-group-sdkj-k2q {
        height: 6.0625rem;
        position: relative;
        flex-shrink: 0;
        margin: 0.263rem 67.2rem 0rem 0rem;
        width: 43.5rem;

        .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-FkH {
          left: 6.1rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #0056ff;
          white-space: nowrap;
          position: absolute;
          height: 1.9rem;
          top: 3.7rem;
          font-family: Inter, 'Source Sans Pro';
          width: 37.4rem;
        }
        .truyn-thng-v-s-kin-71o {
          left: 7.9rem;
          top: 0.7rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #0056ff;
          white-space: nowrap;
          width: 22.9rem;
          position: absolute;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
        }
        .image-2-oQR {
          width: 7.5rem;
          height: 6.0625rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-jz8h-8hb {
        flex-shrink: 0;
        width: 40.3rem;
        height: 100%;
      }
    }
    .cc-s-kin-ch-c-duyt-GYu {
      text-align: center;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      margin: 0rem 0rem 8.1rem 2.8rem;
      color: #0138a3;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .auto-group-3cxf-MaM {
      height: 20.3rem;
      display: flex;
      column-gap: 4.5rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 6.3rem 2.8rem;

      .s-kin-mi-t4V {
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 33.5rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        height: 20rem;

        .image-4-ox9 {
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .th-by-ch-nht-xanh-9FK {
          top: 3.2rem;
          font-weight: 700;
          white-space: nowrap;
          height: 2rem;
          left: 13.6rem;
          font-size: 1.6rem;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
          width: 18.6rem;
          position: absolute;
        }
        .group-7-cPo {
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;

          .auto-group-wred-Lqb {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
          }
          .friday-dec-22-2023-sqX {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--zv9 {
          position: absolute;
          left: 14.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 19.3rem;
          height: 10.7rem;
          top: 5.8rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-6-Kb3 {
          width: 8.8rem;
          height: 1.4843rem;
          display: flex;
          justify-content: center;
          font-size: 0.6361rem;
          color: #000000;
          top: 17.6rem;
          font-weight: 700;
          background-color: rgba(217, 217, 217, 0.5899999738);
          border-radius: 0.7952rem;
          align-items: center;
          white-space: nowrap;
          position: absolute;
          left: 23.8rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .s-kin-mi-j8y {
        height: calc(100% - 0.3rem);
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin: 0.1rem 0rem 0.2rem 0rem;
        width: 33.5rem;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 2rem;

        .image-4-SJH {
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
        }
        .th-by-ch-nht-xanh-yZ7 {
          font-size: 1.6rem;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          width: 18.6rem;
          height: 2rem;
          position: absolute;
          left: 13.6rem;
          top: 3.2rem;
        }
        .group-7-fRw {
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;

          .auto-group-1dr5-zz1 {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
          }
          .friday-dec-22-2023-Lny {
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--fqF {
          width: 19.3rem;
          top: 5.8rem;
          font-family: Inter, 'Source Sans Pro';
          height: 10.7rem;
          position: absolute;
          left: 14.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .group-6-Cyb {
          height: 1.4843rem;
          font-size: 0.6361rem;
          line-height: 1.2125;
          white-space: nowrap;
          top: 17.6rem;
          display: flex;
          align-items: center;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          background-color: rgba(217, 217, 217, 0.5899999738);
          border-radius: 0.7952rem;
          width: 8.8rem;
          position: absolute;
          left: 23.8rem;
          justify-content: center;
        }
      }
      .s-kin-mi-zuT {
        margin: 0.2rem 0rem 0.1rem 0rem;
        width: 33.5rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        height: calc(100% - 0.3rem);
        flex-shrink: 0;

        .image-4-7DP {
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .th-by-ch-nht-xanh-qv5 {
          width: 18.6rem;
          height: 2rem;
          position: absolute;
          top: 3.2rem;
          white-space: nowrap;
          left: 13.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
        }
        .group-7-YJh {
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;

          .auto-group-mulu-5Jd {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
          }
          .friday-dec-22-2023-Qrh {
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--wLq {
          line-height: 1.2125;
          color: #000000;
          height: 10.7rem;
          left: 14.3rem;
          font-weight: 400;
          font-size: 1.1rem;
          font-family: Inter, 'Source Sans Pro';
          width: 19.3rem;
          position: absolute;
          top: 5.8rem;
        }
        .group-6-HJD {
          left: 23.8rem;
          color: #000000;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 1.4843rem;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          background-color: rgba(217, 217, 217, 0.5899999738);
          border-radius: 0.7952rem;
          width: 8.8rem;
          position: absolute;
          top: 17.6rem;
          align-items: center;
          font-size: 0.6361rem;
          font-weight: 700;
        }
      }
      .s-kin-mi-KEu {
        width: 33.5rem;
        overflow: hidden;
        border-radius: 2rem;
        margin-top: 0.3rem;
        height: 20rem;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;

        .image-4-3wb {
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
        }
        .th-by-ch-nht-xanh-z69 {
          position: absolute;
          top: 3.2rem;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          color: rgba(0, 147, 255, 0.9499999881);
          width: 18.6rem;
          height: 2rem;
          left: 13.6rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .group-7-svd {
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;

          .auto-group-jl8d-p5B {
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
          }
          .friday-dec-22-2023-ZHf {
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--gt5 {
          font-size: 1.1rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          top: 5.8rem;
          height: 10.7rem;
          position: absolute;
          left: 14.3rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 19.3rem;
        }
        .group-6-3MF {
          top: 17.6rem;
          font-weight: 700;
          height: 1.4843rem;
          font-size: 0.6361rem;
          border-radius: 0.7952rem;
          align-items: center;
          display: flex;
          justify-content: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(217, 217, 217, 0.5899999738);
          position: absolute;
          left: 23.8rem;
          color: #000000;
          width: 8.8rem;
        }
      }
    }
    .auto-group-k4a1-GE1 {
      column-gap: 4.5rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 6.3rem 2.8rem;
      height: 20.3rem;
      display: flex;

      .s-kin-mi-akV {
        height: 20rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        margin-bottom: 0.3rem;
        width: 33.5rem;
        flex-shrink: 0;

        .image-4-JwP {
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
        .th-by-ch-nht-xanh-rT7 {
          top: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          width: 18.6rem;
          height: 2rem;
          position: absolute;
          left: 13.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .group-7-M8y {
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;

          .auto-group-jwb7-5qf {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
          }
          .friday-dec-22-2023-Red {
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--xPf {
          width: 19.3rem;
          position: absolute;
          top: 5.8rem;
          font-size: 1.1rem;
          line-height: 1.2125;
          height: 10.7rem;
          left: 14.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-6-i1T {
          height: 1.4843rem;
          align-items: center;
          justify-content: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-weight: 700;
          background-color: rgba(217, 217, 217, 0.5899999738);
          position: absolute;
          top: 17.6rem;
          border-radius: 0.7952rem;
          width: 8.8rem;
          left: 23.8rem;
          font-size: 0.6361rem;
          line-height: 1.2125;
        }
      }
      .s-kin-mi-wQ1 {
        background-color: #ffffff;
        border-radius: 2rem;
        margin: 0.1rem 0rem 0.2rem 0rem;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        width: 33.5rem;
        height: calc(100% - 0.3rem);
        overflow: hidden;

        .image-4-eZK {
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
        }
        .th-by-ch-nht-xanh-PWu {
          width: 18.6rem;
          position: absolute;
          font-size: 1.6rem;
          color: rgba(0, 147, 255, 0.9499999881);
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          height: 2rem;
          left: 13.6rem;
          top: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .group-7-V49 {
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;

          .auto-group-vn8d-Dkq {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
          }
          .friday-dec-22-2023-ZJu {
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--5o3 {
          font-family: Inter, 'Source Sans Pro';
          height: 10.7rem;
          left: 14.3rem;
          font-weight: 400;
          color: #000000;
          line-height: 1.2125;
          width: 19.3rem;
          position: absolute;
          top: 5.8rem;
          font-size: 1.1rem;
        }
        .group-6-q9w {
          position: absolute;
          justify-content: center;
          color: #000000;
          font-size: 0.6361rem;
          font-weight: 700;
          line-height: 1.2125;
          height: 1.4843rem;
          top: 17.6rem;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.5899999738);
          border-radius: 0.7952rem;
          width: 8.8rem;
          left: 23.8rem;
          white-space: nowrap;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .s-kin-mi-TBK {
        margin: 0.2rem 0rem 0.1rem 0rem;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 33.5rem;
        height: calc(100% - 0.3rem);
        overflow: hidden;

        .image-4-ArR {
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
        }
        .th-by-ch-nht-xanh-uZ7 {
          position: absolute;
          left: 13.6rem;
          font-weight: 700;
          color: rgba(0, 147, 255, 0.9499999881);
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          width: 18.6rem;
          height: 2rem;
          top: 3.2rem;
          font-size: 1.6rem;
          line-height: 1.2125;
        }
        .group-7-oeV {
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;
          position: absolute;

          .auto-group-xf2d-9TT {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
          }
          .friday-dec-22-2023-tfw {
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--dNd {
          left: 14.3rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 10.7rem;
          position: absolute;
          font-size: 1.1rem;
          font-weight: 400;
          color: #000000;
          width: 19.3rem;
          top: 5.8rem;
        }
        .group-6-j4H {
          width: 8.8rem;
          height: 1.4843rem;
          left: 23.8rem;
          font-weight: 700;
          align-items: center;
          background-color: rgba(217, 217, 217, 0.5899999738);
          position: absolute;
          top: 17.6rem;
          display: flex;
          justify-content: center;
          font-size: 0.6361rem;
          color: #000000;
          white-space: nowrap;
          border-radius: 0.7952rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .s-kin-mi-Lpm {
        height: 20rem;
        position: relative;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 33.5rem;
        overflow: hidden;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;

        .image-4-g7w {
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
        }
        .th-by-ch-nht-xanh-pE9 {
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          height: 2rem;
          left: 13.6rem;
          top: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          white-space: nowrap;
          width: 18.6rem;
          position: absolute;
        }
        .group-7-7U9 {
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;

          .auto-group-3vsm-T2D {
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .friday-dec-22-2023-z29 {
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--vAh {
          width: 19.3rem;
          position: absolute;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          height: 10.7rem;
          left: 14.3rem;
          top: 5.8rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-6-sk9 {
          display: flex;
          align-items: center;
          font-size: 0.6361rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 1.4843rem;
          left: 23.8rem;
          white-space: nowrap;
          position: absolute;
          top: 17.6rem;
          border-radius: 0.7952rem;
          line-height: 1.2125;
          background-color: rgba(217, 217, 217, 0.5899999738);
          width: 8.8rem;
          justify-content: center;
        }
      }
    }
    .auto-group-qcms-JaZ {
      column-gap: 4.5rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.1rem 0rem 3.3rem;
      width: calc(100% - 5.4rem);
      height: 20.3rem;
      display: flex;

      .s-kin-mi-DBj {
        overflow: hidden;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        width: 33.5rem;
        height: 20rem;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;

        .image-4-wdX {
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
        }
        .th-by-ch-nht-xanh-UtM {
          height: 2rem;
          left: 13.6rem;
          font-weight: 700;
          width: 18.6rem;
          top: 3.2rem;
          font-size: 1.6rem;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
        }
        .group-7-Niq {
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;

          .auto-group-tqux-K8H {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 2.3rem;
          }
          .friday-dec-22-2023-TEV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--NMT {
          height: 10.7rem;
          position: absolute;
          font-size: 1.1rem;
          line-height: 1.2125;
          color: #000000;
          width: 19.3rem;
          left: 14.3rem;
          top: 5.8rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .group-6-X7s {
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          font-size: 0.6361rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          background-color: rgba(217, 217, 217, 0.5899999738);
          position: absolute;
          top: 17.6rem;
          left: 23.8rem;
          align-items: center;
          color: #000000;
          border-radius: 0.7952rem;
          width: 8.8rem;
          height: 1.4843rem;
        }
      }
      .s-kin-mi-99F {
        width: 33.5rem;
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        flex-shrink: 0;
        margin: 0.1rem 0rem 0.2rem 0rem;
        height: calc(100% - 0.3rem);
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;

        .image-4-rpM {
          height: 20rem;
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
        }
        .th-by-ch-nht-xanh-CNR {
          font-weight: 700;
          height: 2rem;
          position: absolute;
          top: 3.2rem;
          font-size: 1.6rem;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.6rem;
          left: 13.6rem;
        }
        .group-7-goP {
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;
          display: flex;
          align-items: center;

          .auto-group-ggjw-pub {
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .friday-dec-22-2023-ZcH {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--HoB {
          line-height: 1.2125;
          color: #000000;
          height: 10.7rem;
          top: 5.8rem;
          left: 14.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 19.3rem;
          position: absolute;
        }
        .group-6-SZb {
          left: 23.8rem;
          top: 17.6rem;
          display: flex;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          background-color: rgba(217, 217, 217, 0.5899999738);
          width: 8.8rem;
          height: 1.4843rem;
          align-items: center;
          justify-content: center;
          font-size: 0.6361rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          border-radius: 0.7952rem;
        }
      }
      .s-kin-mi-gD3 {
        height: calc(100% - 0.3rem);
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 2rem;
        margin: 0.2rem 0rem 0.1rem 0rem;
        width: 33.5rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;

        .image-4-ChB {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
          position: absolute;
          left: -0.8rem;
        }
        .th-by-ch-nht-xanh-wPs {
          top: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          width: 18.6rem;
          height: 2rem;
          position: absolute;
          left: 13.6rem;
          white-space: nowrap;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: rgba(0, 147, 255, 0.9499999881);
        }
        .group-7-qVF {
          top: 0.1rem;
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;

          .auto-group-kky7-yrM {
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .friday-dec-22-2023-8DT {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--rfF {
          height: 10.7rem;
          position: absolute;
          font-size: 1.1rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 19.3rem;
          left: 14.3rem;
          top: 5.8rem;
          font-weight: 400;
        }
        .group-6-DPK {
          background-color: rgba(217, 217, 217, 0.5899999738);
          font-family: Inter, 'Source Sans Pro';
          left: 23.8rem;
          display: flex;
          font-size: 0.6361rem;
          font-weight: 700;
          border-radius: 0.7952rem;
          top: 17.6rem;
          justify-content: center;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          width: 8.8rem;
          height: 1.4843rem;
          position: absolute;
          align-items: center;
        }
      }
      .s-kin-mi-qvV {
        width: 33.5rem;
        position: relative;
        overflow: hidden;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-top: 0.3rem;
        height: 20rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;

        .image-4-NvR {
          position: absolute;
          left: -0.8rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 14.2rem;
          height: 20rem;
        }
        .th-by-ch-nht-xanh-7t1 {
          width: 18.6rem;
          height: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          position: absolute;
          left: 13.6rem;
          top: 3.2rem;
          font-size: 1.6rem;
          color: rgba(0, 147, 255, 0.9499999881);
          font-family: Inter, 'Source Sans Pro';
        }
        .group-7-pXX {
          display: flex;
          align-items: center;
          width: 15.9rem;
          height: 4rem;
          position: absolute;
          left: 17.1rem;
          top: 0.1rem;

          .auto-group-zpxy-Kz5 {
            margin-right: 0.4rem;
            width: 2.3rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .friday-dec-22-2023-fHF {
            font-weight: 700;
            line-height: 1.2125;
            color: #3b3838;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.2rem;
            font-size: 1.3rem;
          }
        }
        .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--bAu {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 19.3rem;
          height: 10.7rem;
          top: 5.8rem;
          font-weight: 400;
          line-height: 1.2125;
          position: absolute;
          left: 14.3rem;
          font-size: 1.1rem;
        }
        .group-6-wPB {
          width: 8.8rem;
          position: absolute;
          font-size: 0.6361rem;
          justify-content: center;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          background-color: rgba(217, 217, 217, 0.5899999738);
          left: 23.8rem;
          font-weight: 700;
          border-radius: 0.7952rem;
          height: 1.4843rem;
          top: 17.6rem;
          display: flex;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .footer-A13 {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 21.9rem;

    .group-9-7S5 {
      width: 95.9843rem;
      height: 13.0578rem;
      position: absolute;
      left: 35.5rem;
      top: 2.1rem;

      .image-2-Sz9 {
        height: 12.6578rem;
        position: absolute;
        left: 80.1rem;
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 15.8843rem;
      }
      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-Nso {
        height: 3.9rem;
        position: absolute;
        left: 0;
        text-align: center;
        font-size: 3.2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 82.1rem;
        top: 0;
        font-weight: 700;
        line-height: 1.2125;
        color: #0e0e0e;
      }
    }
    .group-10-sJm {
      height: 11.5rem;
      left: 39.95rem;
      top: 8.4rem;
      row-gap: 2rem;
      align-items: center;
      flex-direction: column;
      width: 73.2rem;
      position: absolute;
      display: flex;

      .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-z8V {
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-V5F {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
      }
      .email-uitgmailcom-nKF {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
}
