
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.trang-ng-k-xt-thng-fJu {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 195, 195, 0.0500000007);
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-r9zd-MxR {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0.2rem 74rem 0.4rem;
    width: 100%;
    align-items: center;
    display: flex;

    .header-H5P {
      overflow: hidden;
      position: relative;
      display: flex;
      background-color: #ffffff;
      margin-bottom: 3.7rem;
      width: 100%;
      height: 9.7rem;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 0.8rem 1.7rem 1.1rem;

      .auto-group-hojv-NsX {
        height: 6.0625rem;
        position: relative;
        flex-shrink: 0;
        margin: 0.263rem 67.2rem 0rem 0rem;
        width: 43.5rem;

        .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-Vx9 {
          width: 37.4rem;
          height: 1.9rem;
          position: absolute;
          top: 3.7rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          left: 6.1rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: #0056ff;
          white-space: nowrap;
        }
        .truyn-thng-v-s-kin-kdB {
          top: 0.7rem;
          font-size: 2rem;
          font-weight: 400;
          width: 22.9rem;
          left: 7.9rem;
          line-height: 1.2125;
          color: #0056ff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
        }
        .image-2-quX {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 7.5rem;
          height: 6.0625rem;
          position: absolute;
        }
      }
      .auto-group-3lpd-moB {
        width: 40.3rem;
        height: 100%;
        flex-shrink: 0;
      }
    }
    .danh-sch-khen-thng-uPb {
      text-align: center;
      color: #0138a3;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      white-space: nowrap;
      margin: 0rem 0rem 2.3rem 2.8rem;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
    }
    .auto-group-g2v1-1Bj {
      margin: 0rem 86.8rem 0rem 4.9rem;
      width: calc(100% - 91.7rem);
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 2rem 0.8rem 2rem 4.7rem;
      display: flex;
      align-items: center;
      border-radius: 2.5rem;
      flex-shrink: 0;

      .chn-loi-xt-thng-JAq {
        line-height: 1.2125;
        white-space: nowrap;
        margin: 0.5rem 30.8rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(14, 14, 14, 0.4099999964);
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
      }
      .group-Pxy {
        vertical-align: top;
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
      }
    }
  }
  .footer-st9 {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 21.9rem;
    position: relative;
    overflow: hidden;

    .group-9-2W9 {
      width: 95.9843rem;
      height: 13.0578rem;
      position: absolute;
      left: 35.5rem;
      top: 2.1rem;

      .image-2-mCq {
        width: 15.8843rem;
        height: 12.6578rem;
        position: absolute;
        left: 80.1rem;
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-5jK {
        line-height: 1.2125;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        height: 3.9rem;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
        white-space: nowrap;
        width: 82.1rem;
      }
    }
    .group-10-B1f {
      width: 73.2rem;
      height: 11.5rem;
      left: 39.95rem;
      row-gap: 2rem;
      flex-direction: column;
      position: absolute;
      top: 8.4rem;
      align-items: center;
      display: flex;

      .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-HaV {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-o33 {
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .email-uitgmailcom-Hyo {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
      }
    }
  }
}
