
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 71.5rem;
}.s-kin-ni-bt-nht-tso {
  width: 100%;
  height: 50.6rem;
  position: relative;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs {
  box-sizing: border-box;
  padding: 2.1rem 1.311rem 0.93rem 2.6rem;
  width: 71.5rem;
  height: 50.6rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .xun-tnh-nguyn-2024-wr5 {
  margin: 0rem 0rem 31.8rem 0.038rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #042cff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .auto-group-ptzv-SXw {
  width: 100%;
  height: 12.7704rem;
  position: relative;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .auto-group-ptzv-SXw .friday-december-22-2023-z3f {
  width: 26.5rem;
  height: 2.5rem;
  position: absolute;
  left: 4.4rem;
  top: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .auto-group-ptzv-SXw .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-gx5 {
  width: 64.3rem;
  height: 6.6rem;
  position: absolute;
  left: 2.8rem;
  top: 4.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .auto-group-ptzv-SXw .vector-6F7 {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 0rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.s-kin-ni-bt-nht-tso .frame-3-ERs .auto-group-ptzv-SXw .group-5-28m {
  width: 19.3885rem;
  height: 3.2704rem;
  position: absolute;
  left: 48.2rem;
  top: 9.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4016rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(217, 217, 217, 0.5899999738);
  border-radius: 1.752rem;
}
.s-kin-ni-bt-nht-tso .image-3-Rwb {
  width: 68rem;
  height: 27.4045rem;
  position: absolute;
  left: 1.6rem;
  top: 7.3rem;
  background-image: url('../assets/image-3-9fK.png');
  background-repeat: repeat;
  background-size: 51.13%;
  border-radius: 2.5564rem;
}
