
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.trang-ng-k-xt-thng-ZED {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 195, 195, 0.0500000007);

  .header-HR7 {
    padding: 1.6rem 1.4rem 1.8rem 1.1rem;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 9.8rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    flex-shrink: 0;

    .auto-group-ys6u-Pj3 {
      height: 6.0625rem;
      position: relative;
      flex-shrink: 0;
      margin: 0.263rem 6.15rem 0rem 0rem;
      width: 43.5rem;

      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-iFX {
        color: #0056ff;
        width: 37.4rem;
        left: 6.1rem;
        top: 3.7rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        position: absolute;
      }
      .truyn-thng-v-s-kin-jwK {
        height: 2.5rem;
        left: 7.9rem;
        top: 0.7rem;
        font-weight: 400;
        width: 22.9rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #0056ff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
      }
      .image-2-phs {
        width: 7.5rem;
        height: 6.0625rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .trang-ch-9VF {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 3.65rem 0rem 0rem;
      text-align: center;
      text-decoration-line: underline;
      color: #0047fe;
      white-space: nowrap;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .xt-thng-egu {
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.4rem 2.4rem 0rem 0rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      text-align: center;
    }
    .ng-gp-YGV {
      margin: 0.2rem 1.9rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.4rem;
    }
    .cp-nht-4Eq {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 7.2rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .auto-group-jqcd-P2D {
      width: 40.3rem;
      font-size: 2.4rem;
      color: #9a9090;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #f1f0f0;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.9rem 4.3rem 1.5rem 4.3rem;
      height: 100%;
      font-weight: 400;
      line-height: 1.2125;
      border-radius: 3rem;
    }
  }
  .auto-group-8buq-FKK {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 1.9rem 3.9rem 1.1rem;
    width: 100%;

    .auto-group-tjqb-BCy {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 0.55rem 1.9rem 0rem;
      width: calc(100% - 0.55rem);

      .auto-group-hdmf-hBK {
        box-sizing: border-box;
        padding: 2rem 0.8rem 2rem 4.7rem;
        display: flex;
        border-radius: 2.5rem;
        flex-shrink: 0;
        margin: 2.5rem 19.65rem 0rem 0rem;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #ffffff;

        .chn-loi-xt-thng-QLd {
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0.5rem 30.8rem 0rem 0rem;
          text-align: center;
          line-height: 1.2125;
          color: rgba(14, 14, 14, 0.4099999964);
          flex-shrink: 0;
        }
        .group-W8m {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .hin-ti-bn-c-3-danh-hiu-iu-kin-ng-k-xt-thng-DJ5 {
        line-height: 1.2125;
        color: #ff0606;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .cc-tiu-ch-xt-danh-hiu-ugh {
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      width: 100%;
      text-align: center;
      color: #0138a3;
    }
    .auto-group-7wt9-o1P {
      margin: 0rem 0rem 3.898rem 0.2rem;
      width: 150.3rem;
      height: 50.8024rem;
      position: relative;
      flex-shrink: 0;

      .group-18-iPF {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-15-enh {
          height: 8.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 150.3rem;
        }
        .tn-tiu-ch-n8D {
          height: 3.9rem;
          left: 16.15rem;
          top: 2.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 18.1rem;
          position: absolute;
          text-align: center;
          font-size: 3.2rem;
          white-space: nowrap;
        }
        .stt-HKs {
          position: absolute;
          font-size: 3.2rem;
          line-height: 1.2125;
          top: 2.6rem;
          text-align: center;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.4rem;
          height: 3.9rem;
          left: 1.9rem;
          white-space: nowrap;
        }
        .hon-thnh-nnR {
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.1rem;
          height: 3.9rem;
          left: 62.9rem;
          text-align: center;
          font-size: 3.2rem;
          position: absolute;
          top: 2.6rem;
          line-height: 1.2125;
          color: #000000;
        }
        .ghi-ch-huP {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.6rem;
          height: 3.9rem;
          position: absolute;
          top: 2.6rem;
          line-height: 1.2125;
          color: #000000;
          left: 121.1rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
        }
        .line-1-d2M {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 40.9rem;
          top: 0.2rem;
          background-color: #000000;
        }
        .line-3-woj {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
        }
        .line-2-5f3 {
          height: 8.4024rem;
          position: absolute;
          left: 10.6rem;
          top: 0;
          background-color: #000000;
          width: 0.3rem;
        }
      }
      .group-19-Ryo {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 8.6rem;

        .rectangle-15-AwP {
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 150.3rem;
          height: 8.4rem;
        }
        .hc-tp-tt-WEZ {
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 18.1rem;
          position: absolute;
          left: 16.15rem;
          font-weight: 700;
          color: #000000;
          height: 3.9rem;
        }
        .item-1-c2h {
          width: 1.6rem;
          height: 3.9rem;
          left: 4.3rem;
          top: 2.6rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          text-align: center;
          white-space: nowrap;
        }
        .x-Jw7 {
          font-size: 3.2rem;
          position: absolute;
          left: 70.8rem;
          top: 2.6rem;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.3rem;
          height: 3.9rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .item--cwo {
          white-space: nowrap;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          left: 124.4rem;
          top: 2.6rem;
          font-size: 3.2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 5rem;
          height: 3.9rem;
          position: absolute;
        }
        .line-1-iV3 {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 40.9rem;
          top: 0.2rem;
          background-color: #000000;
        }
        .line-3-Svq {
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
        }
        .line-2-aXF {
          height: 8.4024rem;
          position: absolute;
          left: 10.6rem;
          top: 0;
          background-color: #000000;
          width: 0.3rem;
        }
      }
      .group-20-XBb {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 17rem;

        .rectangle-15-TL9 {
          height: 8.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 150.3rem;
        }
        .o-c-tt-CHj {
          width: 19.5rem;
          height: 3.9rem;
          position: absolute;
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          left: 15.45rem;
          color: #000000;
          white-space: nowrap;
        }
        .item-2-Jbf {
          white-space: nowrap;
          width: 2.1rem;
          height: 3.9rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          left: 4.05rem;
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
        }
        .x-pa1 {
          width: 2.3rem;
          height: 3.9rem;
          position: absolute;
          left: 70.8rem;
          font-weight: 700;
          color: #000000;
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--9MP {
          left: 124.4rem;
          top: 2.6rem;
          color: #000000;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 5rem;
          height: 3.9rem;
          position: absolute;
          white-space: nowrap;
        }
        .line-1-eow {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 40.9rem;
          top: 0.2rem;
          background-color: #000000;
        }
        .line-3-CaZ {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
        }
        .line-2-YeR {
          left: 10.6rem;
          top: 0;
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
        }
      }
      .group-21-Hru {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 25.4rem;

        .rectangle-15-RiD {
          width: 150.3rem;
          height: 8.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
        }
        .tnh-nguyn-tt-N7f {
          width: 25.3rem;
          height: 3.9rem;
          left: 12.55rem;
          top: 2.6rem;
          text-align: center;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
        .item-3-gPF {
          width: 2.2rem;
          position: absolute;
          top: 2.6rem;
          font-size: 3.2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 3.9rem;
          left: 4rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .x-Bau {
          left: 70.8rem;
          font-weight: 700;
          white-space: nowrap;
          font-size: 3.2rem;
          line-height: 1.2125;
          color: #000000;
          width: 2.3rem;
          height: 3.9rem;
          position: absolute;
          top: 2.6rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .item--J9j {
          left: 124.4rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
          position: absolute;
          top: 2.6rem;
          line-height: 1.2125;
          height: 3.9rem;
        }
        .line-1-PS5 {
          left: 40.9rem;
          top: 0.2rem;
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
        }
        .line-3-KqX {
          height: 8.4024rem;
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
          width: 0.3rem;
        }
        .line-2-541 {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 10.6rem;
          top: 0;
          background-color: #000000;
        }
      }
      .group-22-p1b {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 33.8rem;

        .rectangle-15-YiH {
          box-sizing: border-box;
          background-color: #ffffff;
          width: 150.3rem;
          height: 8.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
        }
        .hi-nhp-tt-Urq {
          line-height: 1.2125;
          color: #000000;
          width: 19.8rem;
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 700;
          height: 3.9rem;
          position: absolute;
          left: 15.3rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-4-zaH {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 3.9rem;
          left: 4rem;
          top: 2.6rem;
          font-size: 3.2rem;
          line-height: 1.2125;
          white-space: nowrap;
          width: 2.2rem;
          position: absolute;
          text-align: center;
          font-weight: 700;
        }
        .x-uSM {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          height: 3.9rem;
          position: absolute;
          left: 70.8rem;
          top: 2.6rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          width: 2.3rem;
          color: #000000;
        }
        .item--pZK {
          height: 3.9rem;
          left: 124.4rem;
          top: 2.6rem;
          text-align: center;
          font-size: 3.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          position: absolute;
        }
        .line-1-8a1 {
          top: 0.2rem;
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 40.9rem;
        }
        .line-3-fpq {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
        }
        .line-2-1do {
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 10.6rem;
          top: 0;
        }
      }
      .group-23-x3F {
        width: 150.3rem;
        height: 8.6024rem;
        position: absolute;
        left: 0;
        top: 42.2rem;

        .rectangle-15-VJ5 {
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 150.3rem;
          height: 8.4rem;
          position: absolute;
          left: 0;
        }
        .th-lc-tt-EFf {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 3.9rem;
          left: 16.4rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          width: 17.6rem;
          position: absolute;
          top: 2.6rem;
          text-align: center;
          white-space: nowrap;
        }
        .item-5-jiD {
          left: 4.05rem;
          top: 2.6rem;
          font-size: 3.2rem;
          color: #000000;
          white-space: nowrap;
          width: 2.1rem;
          height: 3.9rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 700;
          line-height: 1.2125;
        }
        .x-SsX {
          height: 3.9rem;
          position: absolute;
          top: 2.6rem;
          text-align: center;
          color: #000000;
          width: 2.3rem;
          left: 70.8rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item--AoX {
          text-align: center;
          color: #000000;
          white-space: nowrap;
          width: 5rem;
          height: 3.9rem;
          position: absolute;
          left: 124.4rem;
          top: 2.6rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .line-1-gWy {
          left: 40.9rem;
          top: 0.2rem;
          background-color: #000000;
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
        }
        .line-3-2Kw {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 103.5rem;
          top: 0;
          background-color: #000000;
        }
        .line-2-aMT {
          width: 0.3rem;
          height: 8.4024rem;
          position: absolute;
          left: 10.6rem;
          top: 0;
          background-color: #000000;
        }
      }
    }
    .bn-t-ht-cc-tiu-ch-xt-thng-WW1 {
      text-align: center;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      margin-bottom: 6.9rem;
      width: 100%;
      color: #060606;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      line-height: 1.2125;
    }
    .group-7-cJ9 {
      line-height: 1.2125;
      display: flex;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      background-color: rgba(121, 165, 252, 0.5899999738);
      border-radius: 2.25rem;
      height: 4.2rem;
      width: 24.9rem;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 2.2rem;
    }
  }
  .footer-GtV {
    background-color: #ffffff;
    flex-shrink: 0;
    width: 100%;
    height: 21.9rem;
    position: relative;
    overflow: hidden;

    .group-9-EaR {
      position: absolute;
      left: 35.5rem;
      top: 2.1rem;
      width: 95.9843rem;
      height: 13.0578rem;

      .image-2-NRj {
        top: 0.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 15.8843rem;
        height: 12.6578rem;
        position: absolute;
        left: 80.1rem;
      }
      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-6cd {
        height: 3.9rem;
        position: absolute;
        font-size: 3.2rem;
        line-height: 1.2125;
        white-space: nowrap;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        width: 82.1rem;
        left: 0;
        top: 0;
        text-align: center;
        font-weight: 700;
      }
    }
    .group-10-bZP {
      align-items: center;
      width: 73.2rem;
      top: 8.4rem;
      row-gap: 2rem;
      display: flex;
      flex-direction: column;
      height: 11.5rem;
      position: absolute;
      left: 39.95rem;

      .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-7nd {
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-2eh {
        line-height: 1.2125;
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
      }
      .email-uitgmailcom-Kth {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
      }
    }
  }
}
