
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.trang-son-ni-dung-s-kin-Lqb {
  background-color: rgba(206, 195, 195, 0.0500000007);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .header-DeV {
    margin: 0rem 0.5rem 3.9rem 0rem;
    width: calc(100% - 0.5rem);
    height: 9.8rem;
    overflow: hidden;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.6rem 1.4rem 1.8rem 1.1rem;
    position: relative;
    display: flex;

    .auto-group-aqdx-UqK {
      position: relative;
      flex-shrink: 0;
      margin: 0.263rem 6.15rem 0rem 0rem;
      width: 43.5rem;
      height: 6.0625rem;

      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-Bzd {
        left: 6.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        position: absolute;
        height: 1.9rem;
        top: 3.7rem;
        line-height: 1.2125;
        color: #0056ff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 37.4rem;
      }
      .truyn-thng-v-s-kin-2kM {
        height: 2.5rem;
        left: 7.9rem;
        color: #0056ff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 22.9rem;
        position: absolute;
        top: 0.7rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .image-2-KDf {
        width: 7.5rem;
        height: 6.0625rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .trang-ch-Dpq {
      text-align: center;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.65rem 0rem 0rem;
      font-weight: 400;
      line-height: 1.2125;
      text-decoration-line: underline;
      color: #0047fe;
    }
    .xt-thng-giR {
      color: #000000;
      flex-shrink: 0;
      margin: 0.4rem 2.4rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      text-align: center;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ng-gp-MJm {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.4rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      margin: 0.2rem 1.9rem 0rem 0rem;
      text-align: center;
      font-weight: 400;
    }
    .cp-nht-RZX {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 7.2rem 0rem 0rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-myad-uUh {
      height: 100%;
      font-size: 2.4rem;
      line-height: 1.2125;
      color: #9a9090;
      background-color: #f1f0f0;
      box-sizing: border-box;
      padding: 1.9rem 4.3rem 1.5rem 4.3rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      border-radius: 3rem;
      flex-shrink: 0;
      width: 40.3rem;
      font-weight: 400;
    }
  }
  .tn-ca-s-kin-Zp9 {
    text-align: center;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 3.7rem;
    width: 100%;
    font-size: 4.8rem;
    line-height: 1.2125;
    color: #0138a3;
  }
  .auto-group-rxtv-sZw {
    box-sizing: border-box;
    padding: 23.9rem 2.35rem 13.1rem 4.15rem;
    width: calc(100% - 6.2rem);
    height: 68.1rem;
    background-color: #d9d9d9;
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 2.5rem 5.1rem 3.7rem;

    .hnh-nh-chnh-ca-s-kin-xbP {
      font-family: Inter, 'Source Sans Pro';
      max-width: 140.8rem;
      text-align: center;
      font-size: 12.8rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
    }
  }
  .tiu-1-G6H {
    margin: 0rem 0rem 0.8rem 2.6rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--ymP {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 8.6rem;
    max-width: 142.2rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .auto-group-zvdx-7FK {
    margin: 0rem 1.5rem 5.1rem 2.8rem;
    width: calc(100% - 4.3rem);
    height: 59.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-urgh-qBK {
      border-radius: 3rem;
      flex-shrink: 0;
      margin-right: 2.2rem;
      box-sizing: border-box;
      padding: 14.2rem 7.6rem 14.1rem 8rem;
      width: 73.5rem;
      height: 100%;
      background-color: #d9d9d9;

      .cu-trc-2-nh-9Su {
        font-size: 12.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 57.9rem;
        text-align: center;
      }
    }
    .auto-group-nnmj-G1j {
      width: 73.5rem;
      height: 100%;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 14.2rem 7.1rem 14.1rem 8.5rem;

      .cu-trc-2-nh-zTX {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 57.9rem;
        text-align: center;
        font-size: 12.8rem;
        font-weight: 700;
      }
    }
  }
  .tiu-2-7HF {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 0.8rem 4.9rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.2125;
  }
  .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--phT {
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    margin: 0rem 0rem 1.6rem 10.9rem;
    max-width: 142.2rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
  }
  .auto-group-9vd3-yim {
    width: calc(100% - 6.2rem);
    white-space: nowrap;
    background-color: #d9d9d9;
    border-radius: 3rem;
    margin: 0rem 4rem 2.8rem 2.2rem;
    font-weight: 700;
    align-items: center;
    flex-shrink: 0;
    font-size: 12.8rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    display: flex;
    height: 68.1rem;
    text-align: center;
    line-height: 1.2125;
    justify-content: center;
  }
  .footer-ScM {
    height: 21.9rem;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 0.9rem;
    width: calc(100% - 0.9rem);

    .group-9-ysB {
      width: 95.9843rem;
      height: 13.0578rem;
      position: absolute;
      left: 34.6rem;
      top: 2.1rem;

      .image-2-Vad {
        object-fit: cover;
        vertical-align: top;
        width: 15.8843rem;
        height: 12.6578rem;
        position: absolute;
        left: 80.1rem;
        top: 0.4rem;
      }
      .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-cv9 {
        color: #0e0e0e;
        white-space: nowrap;
        width: 82.1rem;
        height: 3.9rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 700;
        position: absolute;
        left: 0;
        top: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .group-10-WVj {
      width: 73.2rem;
      position: absolute;
      align-items: center;
      flex-direction: column;
      display: flex;
      height: 11.5rem;
      left: 39.05rem;
      top: 8.4rem;
      row-gap: 2rem;

      .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-Duw {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
      }
      .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-Xvd {
        color: #0e0e0e;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .email-uitgmailcom-S21 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #0e0e0e;
      }
    }
  }
}
