<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="../page-1/styles/desktop-1.css"/>
</head>
<body>
<div class="desktop-1-4Qu">
  <div class="auto-group-us8h-f9o">
  
    <div class="s-kin-ni-bt-v-mi-nht-zSH">
      <div class="auto-group-rdgr-4h3">
        <div class="group-1-yp1">
          <img class="thit-k-cha-c-tn-1-Kcy" src="../page-1/assets/thit-k-cha-c-tn-1.png"/>
          <p class="s-kin-ni-bt-33B">Sự kiện nổi bật</p>
        </div>
        <div class="group-7-UXo">
          <img class="paper-1-1-ctu" src="../page-1/assets/paper-1-1.png"/>
          <p class="tin-tc-mi-nht-A9j">Tin tức mới nhất</p>
        </div>
      </div>
      <div class="auto-group-6hgh-5nV">
        <div class="s-kin-ni-bt-nht-qFs hot">
          <div class="frame-3-9XT">
            <p class="xun-tnh-nguyn-2024-ej7">Lễ Tốt Nghiệp - 2022</p>
            <div class="auto-group-jelm-Z5P">
              <p class="friday-december-22-2023-u9F">Friday, December 22, 2023</p>
              <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-B6m">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người................</p>
              <img class="vector-kp5" src="../page-1/assets/vector-yyw.png"/>
              <div class="group-5-67F">XEM THÊM</div>
            </div>
          </div>
          <div class="image-3-JDK">
            <img src="https://www.uit.edu.vn/sites/vi/files/image_from_word/tot_nghiep.jpg" alt="">
          </div>
        </div>
        <div class="frame-4-QGM">
          <div class="auto-group-vmqf-JsX">
            <img class="mingcute-left-fill-1G9 left" src="../page-1/assets/mingcute-left-fill-czq.png"/>
            <div class="auto-group-eu4h-vP7 count">1</div>
            <div class="auto-group-vpsz-Lxd count">2</div>
            <div class="auto-group-2kr1-PR7 count">3</div>
            <div class="auto-group-u6ey-d4Z count">4</div>
            <div class="auto-group-bsyj-g2q count">5</div>
            <div class="auto-group-eci1-LNH count">6</div>
            <div class="auto-group-qmau-PrM count">7</div>
            <div class="auto-group-swto-rE9 count">8</div>
            <div class="auto-group-vs3t-6PP count">9</div>
            <img class="mingcute-right-fill-wQ1 right" src="../page-1/assets/mingcute-right-fill.png"/>
          </div>
          <div class="auto-group-xtum-fqo">
            <div class="auto-group-3qpb-2AZ">
              <!-- <img class="group-kcM" src="../page-1/assets/group-zUM.png"/> -->
              <div class="s-kin-mi-HsB event">
                <img class="image-4-cuT" src="../page-1/assets/image-4-Xu7.png"/>
                <p class="th-by-ch-nht-xanh-kEy">Thử bảy Chủ nhật xanh</p>
                <div class="group-7-2iH">
                  <img class="auto-group-iusz-ZCR" src="../page-1/assets/auto-group-iusz.png"/>
                  <p class="friday-dec-22-2023-Hu7">Friday, Dec 22, 2023</p>
                </div>
                <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--bQ1">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
                <div class="group-6-WvH xemthem">XEM THÊM</div>
              </div>
            </div>
            <div class="s-kin-mi-KMw event">
              <img class="image-4-3Hw" src="../page-1/assets/image-4-uad.png"/>
              <p class="th-by-ch-nht-xanh-mjj">Bảo vệ khóa luận</p>
              <div class="group-7-f4R">
                <img class="auto-group-4bvp-bCy" src="../page-1/assets/auto-group-4bvp.png"/>
                <p class="friday-dec-22-2023-j4H">Friday, Dec 22, 2023</p>
              </div>
              <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--reh">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
              <div class="group-6-CMB xemthem">XEM THÊM</div>
            </div>
          </div>
          <div class="auto-group-wwnz-bu7">
            <div class="s-kin-mi-9Qq  event">
              <img class="image-4-Fim" src="../page-1/assets/image-4.png"/>
              <p class="th-by-ch-nht-xanh-PKB">Thử bảy Chủ nhật xanh</p>
              <div class="group-7-gZB">
                <img class="auto-group-3c9b-1bT" src="../page-1/assets/auto-group-3c9b.png"/>
                <p class="friday-dec-22-2023-wV7">Friday, Dec 22, 2023</p>
              </div>
              <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--TyF">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
              <div class="group-6-D5F xemthem">XEM THÊM</div>
            </div>
            <div class="s-kin-mi-d8y event">
              <img class="image-4-9ND" src="../page-1/assets/image-4-B5X.png"/>
              <p class="th-by-ch-nht-xanh-UfP">Thử bảy Chủ nhật xanh</p>
              <div class="group-7-B41">
                <img class="auto-group-ou77-6wf" src="../page-1/assets/auto-group-ou77.png"/>
                <p class="friday-dec-22-2023-FJm">Friday, Dec 22, 2023</p>
              </div>
              <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--yVf">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
              <div class="group-6-hpy xemthem">XEM THÊM</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auto-group-qb6v-Fzu">
    <div class="khi-s-kin-chi-tit-di-aGV">
      <div class="auto-group-jzer-4xM">
        <img class="truong-1-ntM" src="../page-1/assets/truong-1.png"/>
        <p class="s-kin-cp-trng-vjf">Sự kiện cấp trường</p>
      </div>
      <div class="auto-group-ytjo-qrd">
        <div class="s-kin-mi-B9o event">
          <img class="image-4-7JM" src="../page-1/assets/image-4-SAZ.png"/>
          <p class="th-by-ch-nht-xanh-T7K">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-X7B">
            <img class="auto-group-plrh-477" src="../page-1/assets/auto-group-plrh.png"/>
            <p class="friday-dec-22-2023-CDK">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--ixM">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-4eq xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-tNy event">
          <img class="image-4-Bss" src="../page-1/assets/image-4-eVb.png"/>
          <p class="th-by-ch-nht-xanh-vaZ">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-1ru">
            <img class="auto-group-cg3p-Z7j" src="../page-1/assets/auto-group-cg3p.png"/>
            <p class="friday-dec-22-2023-tvh">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--dNV">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-yqf xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-CyK event">
          <img class="image-4-86H" src="../page-1/assets/image-4-t3X.png"/>
          <p class="th-by-ch-nht-xanh-4Vj">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-vnq">
            <img class="auto-group-xm9x-Fq7" src="../page-1/assets/auto-group-xm9x.png"/>
            <p class="friday-dec-22-2023-na9">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--K4H">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-FMF xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-fvm event">
          <img class="image-4-Cfo" src="../page-1/assets/image-4-c61.png"/>
          <p class="th-by-ch-nht-xanh-Xi5">Bảo vệ khóa luận</p>
          <div class="group-7-2Pw">
            <img class="auto-group-jcjr-Mx1" src="../page-1/assets/auto-group-jcjr.png"/>
            <p class="friday-dec-22-2023-hW5">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--ded">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-B3s xemthem">XEM THÊM</div>
        </div>
      </div>
      <div class="thanh-chuyn-trang-c9B">
        <div class="auto-group-3bzf-t6h">
          <img class="mingcute-left-fill-XvM left" src="../page-1/assets/mingcute-left-fill-7xy.png"/>
          <div class="group-9-3th count">1</div>
        </div>
        <div class="group-10-Jpd count">2</div>
        <div class="group-11-A69 count">3</div>
        <div class="group-12-QmB count">4</div>
        <div class="group-13-5cR count">5</div>
        <div class="group-14-M49 count">6</div>
        <div class="group-15-ckm count">7</div>
        <div class="group-16-Uny count">8</div>
        <div class="group-17-m1P count">9</div>
        <div class="group-3Do">
          <img class="vector-xrZ right" src="../page-1/assets/vector-sgh.png"/>
        </div>
      </div>
    </div>
    <div class="khi-s-kin-chi-tit-di-rS9">
      <div class="auto-group-gryw-LMK">
        <img class="truong-1-rKf" src="../page-1/assets/truong-1-Gpm.png"/>
        <p class="s-kin-cp-trng-nDK">Sự kiện cấp khoa</p>
      </div>
      <div class="auto-group-an8v-5y7">
        <div class="s-kin-mi-QEh event">
          <img class="image-4-Xq7" src="../page-1/assets/image-4-5pZ.png"/>
          <p class="th-by-ch-nht-xanh-Fm7">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-LnZ">
            <img class="auto-group-3rst-U85" src="../page-1/assets/auto-group-3rst.png"/>
            <p class="friday-dec-22-2023-D5f">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--LRB">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-sZX xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-6qb event">
          <img class="image-4-cZ3" src="../page-1/assets/image-4-uHo.png"/>
          <p class="th-by-ch-nht-xanh-kQM">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-F6D">
            <img class="auto-group-97nu-z3o" src="../page-1/assets/auto-group-97nu.png"/>
            <p class="friday-dec-22-2023-8A1">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--3Xs">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-9UR xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-AeR event">
          <img class="image-4-tKX" src="../page-1/assets/image-4-pWR.png"/>
          <p class="th-by-ch-nht-xanh-2Aq">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-KQq">
            <img class="auto-group-tnv3-SkM" src="../page-1/assets/auto-group-tnv3.png"/>
            <p class="friday-dec-22-2023-arZ">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--v9j">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-UaZ xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-uA5 event">
          <img class="image-4-DwT" src="../page-1/assets/image-4-kN1.png"/>
          <p class="th-by-ch-nht-xanh-mCH">Bảo vệ khóa luận</p>
          <div class="group-7-fHf">
            <img class="auto-group-v5bk-QFF" src="../page-1/assets/auto-group-v5bk.png"/>
            <p class="friday-dec-22-2023-9Tj">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--gCm">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-RpZ xemthem">XEM THÊM</div>
        </div>
      </div>
      <div class="thanh-chuyn-trang-eSR">
        <div class="auto-group-de1t-ihB">
          <img class="mingcute-left-fill-fMX left" src="../page-1/assets/mingcute-left-fill-1YZ.png"/>
          <div class="group-9-Q4D count">1</div>
        </div>
        <div class="group-10-Gs7 count">2</div>
        <div class="group-11-8eR count">3</div>
        <div class="group-12-DA5 count">4</div>
        <div class="group-13-Hfj count">5</div>
        <div class="group-14-xms count">6</div>
        <div class="group-15-qam count">7</div>
        <div class="group-16-7HP count">8</div>
        <div class="group-17-awf count">9</div>
        <div class="group-4M3">
          <img class="vector-nXw right" src="../page-1/assets/vector-3u7.png"/>
        </div>
      </div>
    </div>
    <div class="khi-s-kin-chi-tit-di-HDo">
      <div class="auto-group-qs4z-yMX">
        <img class="truong-1-hHX" src="../page-1/assets/truong-1-P7T.png"/>
        <p class="s-kin-cp-trng-dBB">Hoạt động Câu lạc bộ</p>
      </div>
      <div class="auto-group-fc6q-jzu">
        <div class="s-kin-mi-GV3 event">
          <img class="image-4-oE5" src="../page-1/assets/image-4-fnm.png"/>
          <p class="th-by-ch-nht-xanh-vJh">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-QDs">
            <img class="auto-group-mrx5-Y5B" src="../page-1/assets/auto-group-mrx5.png"/>
            <p class="friday-dec-22-2023-Gms">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--PrV">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-uTT xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-KXB event">
          <img class="image-4-DsT" src="../page-1/assets/image-4-oPb.png"/>
          <p class="th-by-ch-nht-xanh-A21">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-FJM">
            <img class="auto-group-dcut-nJH" src="../page-1/assets/auto-group-dcut.png"/>
            <p class="friday-dec-22-2023-KJD">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--e5b">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-aNZ xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-b2m event">
          <img class="image-4-hbb" src="../page-1/assets/image-4-jJD.png"/>
          <p class="th-by-ch-nht-xanh-E5j">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-KN5">
            <img class="auto-group-rgzj-rN1" src="../page-1/assets/auto-group-rgzj.png"/>
            <p class="friday-dec-22-2023-9ru">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--t3o">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-dfb xemthem">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-eqb event">
          <img class="image-4-Nmb" src="../page-1/assets/image-4-MPB.png"/>
          <p class="th-by-ch-nht-xanh-Jv9">Bảo vệ khóa luận</p>
          <div class="group-7-cA9">
            <img class="auto-group-yjky-8uB" src="../page-1/assets/auto-group-yjky.png"/>
            <p class="friday-dec-22-2023-UTF">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--bXs">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-Ltm xemthem">XEM THÊM</div>
        </div>
      </div>
      <div class="thanh-chuyn-trang-yB3">
        <div class="auto-group-hjb7-qyw">
          <img class="mingcute-left-fill-PkZ left" src="../page-1/assets/mingcute-left-fill.png"/>
          <div class="group-9-8TF count">1</div>
        </div>
        <div class="group-10-brd count">2</div>
        <div class="group-11-g7P count">3</div>
        <div class="group-12-9Fs count">4</div>
        <div class="group-13-1J5 count">5</div>
        <div class="group-14-ftR count">6</div>
        <div class="group-15-9Ho count">7</div>
        <div class="group-16-DYZ count">8</div>
        <div class="group-17-6cM count">9</div>
        <div class="group-B81">
          <img class="vector-uph right" src="../page-1/assets/vector-BnV.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-cDK">
    <div class="group-9-wWV">
      <img class="image-2-du7" src="../page-1/assets/image-2-zYd.png"/>
      <p class="trng-i-hc-cng-ngh-thng-tin-hqg-hcm-a3f">Trường đại học Công nghệ Thông tin - ĐHQG - HCM</p>
    </div>
    <div class="group-10-rG5">
      <p class="khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-y5o">Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</p>
      <p class="in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-Gqb">Điện thoại: (028) 372 51993, Ext: 113(Hệ từ xa qua mạng), 112(Hệ chính quy).</p>
      <p class="email-uitgmailcom-Mc9">Email: UIT@gmail.com</p>
    </div>
  </div>
</div>

<script>

  var hot=document.querySelector(".hot");
   axios.get('http://localhost:3000/home/getHot')
.then(res=>{
  var re=res.data.event[0];
  hot.querySelector('p').textContent=re.name;
    hot.querySelectorAll('p')[1].textContent=re.dateUp;
    hot.querySelectorAll('p')[2].textContent=re.descript;
     hot.querySelectorAll('img')[1].src=re.img;
      hot.querySelector('.group-5-67F').onclick=function()
      {
        window.open(re.link,'_blank');
      }
  
     var paragraph =  hot.querySelectorAll('p')[2];
var maxLength = 170;

// Kiểm tra và giới hạn văn bản
if (paragraph.innerHTML.length > maxLength) {
  var trimmedText = paragraph.innerHTML.substring(0, maxLength);
  paragraph.innerHTML = trimmedText + '...';
}
})
.catch(error=>{
  console.error(error);
})

  var res1;
  axios.get('http://localhost:3000/home/getSchool')
.then(res=>{

   show(0,res.data.event,4);
   click1(9,res.data.event,4);
  return res.data.event;
})
.then(function(data)
{
res1=data;
})
.catch(error=>{
  console.error(error);
})

 var res2;
  axios.get('http://localhost:3000/home/getMajor')
.then(res=>{


    show(0,res.data.event,8);
    click1(18,res.data.event,8);

  return res.data.event;
})
.then(function(data)
{
res2=data;
})
.catch(error=>{
  console.error(error);
})

 var res3;
  axios.get('http://localhost:3000/home/getclb')
.then(res=>{



    show(0,res.data.event,12);
    click1(27,res.data.event,12);
  return res.data.event;
})
.then(function(data)
{
res3=data;
})
.catch(error=>{
  console.error(error);
})
  var event1=document.querySelectorAll(".event");
var r={{{json event}}};
var count=document.querySelectorAll(".count");
var currentIndex=0;
var schoolIndex=9;
var KhoaIndex=18;
var clbIndex=27;
var left=document.querySelectorAll(".left");
var right=document.querySelectorAll(".right");
     show(0,r,0);
left[0].onclick=function()
{
  if (currentIndex>0)
  {
    currentIndex--;
     count[currentIndex].click();
  }
}
right[0].onclick=function()
{
  if (currentIndex<(r.length/4-1))
  {
    currentIndex++;
     count[currentIndex].click();
  }
}

left[1].onclick=function()
{
  if (schoolIndex>9)
  {

    --schoolIndex;

  count[schoolIndex].click();
  }
}
right[1].onclick=function()
{
  if (schoolIndex<(res1.length/4-1)+9)
  {
      schoolIndex++;
      console.log(schoolIndex);
      
    count[schoolIndex].click();
  }
}

left[2].onclick=function()
{
  if (KhoaIndex>18)
  {

    KhoaIndex--;

  count[KhoaIndex].click();
  }
}
right[2].onclick=function()
{
  if (KhoaIndex<(res2.length/4-1)+18)
  {
    KhoaIndex++;

      
    count[KhoaIndex].click();
  }
}

left[3].onclick=function()
{
  if (clbIndex>27)
  {

    clbIndex--;

  count[clbIndex].click();
  }
}
right[3].onclick=function()
{
  if (clbIndex<(res3.length/4-1)+27)
  {
    clbIndex++;
    count[clbIndex].click();
  }
}

function click1(o,rr,op)
{
 var king=rr;
for (var i = o; i < (king.length/4)+o; i++) {
  // Sử dụng hàm đóng để giữ giá trị của i
  (function(index) {
   
    count[index].onclick = function() {
      if (index<=8)
      currentIndex=index;
      else
      if (index>8&&index<17)
      {
        schoolIndex=index;
      }
       for (var j=o;j<(king.length/4)+o;j++)
    {
      count[j].style.backgroundColor='white';
    }
      count[index].style.backgroundColor='rgba(5, 120, 255, 0.6299999952)';
      var powerValue =4*(parseInt(count[index].textContent)-1);
      show(powerValue,king,op);
    };
  })(i);
}
}
click1(0,r,0);

function show(num,ro,k)
{
  var toto=ro;
  for (var i=k;i<4+k;i++)
{
  event1[i].style.opacity='1';
}
  var dem=(toto.length-num>=4)?4:toto.length-num;
for (var index=k;index<dem+k;index++)
{ (function(i) {
  event1[i].querySelector("img").setAttribute("src",toto[i-k+num].img);
event1[i].querySelector("p").textContent=toto[i-k+num].name;
event1[i].querySelector(".xemthem").onclick=function()
{ 
  window.open(toto[i-k+num].link, '_blank');
}
event1[i].querySelectorAll("p")[1].textContent=toto[i-k+num].dateUp;
event1[i].querySelectorAll("p")[2].textContent=toto[i-k+num].descript;
var paragraph = event1[i].querySelectorAll("p")[2];
var maxLength = 250;

// Kiểm tra và giới hạn văn bản
if (paragraph.innerHTML.length > maxLength) {
  var trimmedText = paragraph.innerHTML.substring(0, maxLength);
  paragraph.innerHTML = trimmedText + '...';
}
  })(index);
}
for (var i=dem+k;i<4+k;i++)
{
event1[i].style.opacity='0';
}
}
</script>
</body>