
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.footer-bxq {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 21.9rem;

  .group-9-9jT {
    width: 95.9843rem;
    height: 13.0578rem;
    position: absolute;
    left: 35.5rem;
    top: 2.1rem;

    .image-2-Umj {
      height: 12.6578rem;
      position: absolute;
      left: 80.1rem;
      top: 0.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 15.8843rem;
    }
    .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-1Fs {
      color: #0e0e0e;
      width: 82.1rem;
      height: 3.9rem;
      left: 0;
      text-align: center;
      font-size: 3.2rem;
      line-height: 1.2125;
      position: absolute;
      top: 0;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .group-10-HDP {
    top: 8.4rem;
    align-items: center;
    position: absolute;
    height: 11.5rem;
    left: 39.95rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    width: 73.2rem;

    .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-zNh {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #0e0e0e;
    }
    .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-tys {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #0e0e0e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .email-uitgmailcom-arh {
      color: #0e0e0e;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
  }
}
