
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 33.5rem;
}.s-kin-mi-Ckm {
  width: 100%;
  height: 20rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;

  .image-4-L6H {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 14.2rem;
    height: 20rem;
  }
  .th-by-ch-nht-xanh-esf {
    position: absolute;
    top: 3.2rem;
    font-weight: 700;
    color: rgba(0, 147, 255, 0.9499999881);
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 18.6rem;
    height: 2rem;
    left: 13.6rem;
    font-size: 1.6rem;
    line-height: 1.2125;
  }
  .group-7-Kyo {
    width: 15.9rem;
    height: 4rem;
    position: absolute;
    left: 17.1rem;
    top: 0.1rem;
    display: flex;
    align-items: center;

    .auto-group-gof3-4Ah {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.4rem;
      width: 2.3rem;
      height: 4rem;
      object-fit: contain;
    }
    .friday-dec-22-2023-bAd {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #3b3838;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
    }
  }
  .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--ux1 {
    height: 10.7rem;
    position: absolute;
    left: 14.3rem;
    line-height: 1.2125;
    width: 19.3rem;
    top: 5.8rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-6-Ecu {
    font-family: Inter, 'Source Sans Pro';
    border-radius: 0.7952rem;
    width: 8.8rem;
    top: 17.6rem;
    font-weight: 700;
    line-height: 1.2125;
    left: 23.8rem;
    justify-content: center;
    height: 1.4843rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: absolute;
    font-size: 0.6361rem;
    color: #000000;
    background-color: rgba(217, 217, 217, 0.5899999738);
  }
}
