
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.s-kin-ni-bt-v-mi-nht-cf7 {
  padding: 3.4rem 2.2rem 6.6rem 2rem;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  background-color: #ffffff;
  border-radius: 3.5rem;
  width: 100%;

  .auto-group-dwi1-L5K {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 36rem 2.663rem 0rem;
    width: calc(100% - 36rem);

    .group-1-4GD {
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 44.4rem;
      display: flex;

      .thit-k-cha-c-tn-1-DQ1 {
        margin-right: 0.5251rem;
        width: 3.2749rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .s-kin-ni-bt-wL1 {
        margin-top: 0.2rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0138a3;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-7-eER {
      margin-top: 1.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .paper-1-1-bfT {
        width: 5.3rem;
        height: 4.7372rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tin-tc-mi-nht-wUR {
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #0138a3;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-uzdb-4J9 {
    margin-left: 0rem;
    width: calc(100% - 0rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .s-kin-ni-bt-nht-oWd {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 2.8rem 0.1rem 0rem;
      width: 71.5rem;
      height: 50.6rem;

      .frame-3-Kjs {
        box-sizing: border-box;
        width: 71.5rem;
        height: 50.6rem;
        position: absolute;
        overflow: hidden;
        border-radius: 2.5rem;
        padding: 2.1rem 1.311rem 0.93rem 2.6rem;
        left: 0;
        top: 0;
        border: solid 0.1rem #000000;
        background-color: #ffffff;

        .xun-tnh-nguyn-2024-F7j {
          font-weight: 700;
          line-height: 1.2125;
          color: #042cff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 31.8rem 0.038rem;
          font-size: 2.4rem;
        }
        .auto-group-phau-9iu {
          width: 100%;
          height: 12.7704rem;
          position: relative;

          .friday-december-22-2023-J61 {
            width: 26.5rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            height: 2.5rem;
            position: absolute;
            left: 4.4rem;
            top: 0.8rem;
          }
          .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-Pt9 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.8rem;
            line-height: 1.2125;
            position: absolute;
            left: 2.8rem;
            top: 4.1rem;
            font-weight: 400;
            width: 64.3rem;
            height: 6.6rem;
          }
          .vector-zN9 {
            height: 3.5rem;
            position: absolute;
            left: 0rem;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 3.5rem;
          }
          .group-5-LB7 {
            width: 19.3885rem;
            font-size: 1.4016rem;
            line-height: 1.2125;
            background-color: rgba(217, 217, 217, 0.5899999738);
            height: 3.2704rem;
            position: absolute;
            left: 48.2rem;
            justify-content: center;
            display: flex;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            top: 9.5rem;
            align-items: center;
            color: #000000;
            white-space: nowrap;
            border-radius: 1.752rem;
          }
        }
      }
      .image-3-jyw {
        position: absolute;
        background-repeat: repeat;
        border-radius: 2.5564rem;
        top: 7.3rem;
        background-image: url('REPLACE_IMAGE:0c5daf0a48cd077321ebc292d0ac758f96adb84f');
        background-size: 51.13%;
        width: 68rem;
        height: 27.4045rem;
        left: 1.6rem;
      }
    }
    .frame-4-SNZ {
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      border-radius: 2.5rem;
      flex-shrink: 0;
      box-sizing: border-box;
      position: relative;
      align-items: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin-top: 0.1rem;
      padding: 1.2rem 1.2rem 0.5rem 0.8rem;
      width: 71.5rem;

      .auto-group-nfsd-LTw {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 5.3rem 1.3rem 4.3rem;
        width: calc(100% - 9.6rem);
        height: 5.1rem;

        .mingcute-left-fill-EpD {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 5rem;
          height: 5rem;
        }
        .auto-group-jomf-ZLh {
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          width: 3.4rem;
          font-size: 2.4rem;
          white-space: nowrap;
          justify-content: center;
          margin: 1rem 2.1rem 0.7rem 0rem;
          font-weight: 700;
          color: #121212;
          display: flex;
          box-sizing: border-box;
          height: calc(100% - 1.7rem);
          border: solid 0.1rem #000000;
          background-color: rgba(5, 120, 255, 0.6299999952);
          border-radius: 1.7rem;
          flex-shrink: 0;
          align-items: center;
        }
        .auto-group-fvkh-nz9 {
          background-color: #ffffff;
          border-radius: 1.7rem;
          margin: 1rem 2.1rem 0.7rem 0rem;
          height: calc(100% - 1.7rem);
          line-height: 1.2125;
          justify-content: center;
          border: solid 0.1rem #000000;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          box-sizing: border-box;
          width: 3.4rem;
          align-items: center;
          font-weight: 700;
          color: #121212;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-d317-eFf {
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1.7rem;
          margin: 1rem 2.1rem 0.7rem 0rem;
          display: flex;
          box-sizing: border-box;
          background-color: #ffffff;
          height: calc(100% - 1.7rem);
          justify-content: center;
          border: solid 0.1rem #000000;
          color: #121212;
          font-weight: 700;
          line-height: 1.2125;
          align-items: center;
          flex-shrink: 0;
          width: 3.4rem;
        }
        .auto-group-wyft-uBb {
          align-items: center;
          background-color: #ffffff;
          width: 3.4rem;
          font-size: 2.4rem;
          font-weight: 700;
          display: flex;
          margin: 1rem 2.1rem 0.7rem 0rem;
          justify-content: center;
          border-radius: 1.7rem;
          line-height: 1.2125;
          white-space: nowrap;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          height: calc(100% - 1.7rem);
          color: #121212;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
        }
        .auto-group-w7mf-N5B {
          height: calc(100% - 1.7rem);
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          margin: 1rem 2.1rem 0.7rem 0rem;
          width: 3.4rem;
          color: #121212;
          border: solid 0.1rem #000000;
          border-radius: 1.7rem;
          flex-shrink: 0;
          align-items: center;
          background-color: #ffffff;
          font-weight: 700;
          line-height: 1.2125;
          display: flex;
        }
        .auto-group-e4wo-QXf {
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          border-radius: 1.7rem;
          flex-shrink: 0;
          font-size: 2.4rem;
          justify-content: center;
          box-sizing: border-box;
          background-color: #ffffff;
          height: calc(100% - 1.7rem);
          align-items: center;
          margin: 1rem 2.1rem 0.7rem 0rem;
          width: 3.4rem;
          font-weight: 700;
          color: #121212;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #000000;
        }
        .auto-group-wrgz-sRF {
          display: flex;
          background-color: #ffffff;
          line-height: 1.2125;
          color: #121212;
          white-space: nowrap;
          justify-content: center;
          border: solid 0.1rem #000000;
          margin: 1rem 2.1rem 0.7rem 0rem;
          width: 3.4rem;
          font-weight: 700;
          box-sizing: border-box;
          height: calc(100% - 1.7rem);
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          border-radius: 1.7rem;
          flex-shrink: 0;
        }
        .auto-group-zmrd-jCZ {
          margin: 1rem 2.1rem 0.7rem 0rem;
          white-space: nowrap;
          display: flex;
          border-radius: 1.7rem;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          color: #121212;
          justify-content: center;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 3.4rem;
          height: calc(100% - 1.7rem);
          font-size: 2.4rem;
          background-color: #ffffff;
        }
        .auto-group-nl8d-PY1 {
          justify-content: center;
          box-sizing: border-box;
          background-color: #ffffff;
          margin: 1rem 0.6rem 0.7rem 0rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          color: #121212;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem #000000;
          width: 3.4rem;
          height: calc(100% - 1.7rem);
          font-size: 2.4rem;
          font-weight: 700;
          border-radius: 1.7rem;
        }
        .mingcute-right-fill-TXs {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
        }
      }
      .auto-group-g8qb-CEZ {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.9rem;

        .auto-group-luu3-kG5 {
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.2rem 0rem;
          width: 33.5rem;
          height: 20rem;
          position: relative;

          .group-srV {
            width: 0.5676rem;
            height: 0.5676rem;
            position: absolute;
            left: 31.5rem;
            top: 17.9703rem;
            object-fit: contain;
            vertical-align: top;
          }
          .s-kin-mi-1ho {
            height: 20rem;
            position: absolute;
            top: 0;
            overflow: hidden;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 33.5rem;
            left: 0;
            background-color: #ffffff;
            border-radius: 2rem;

            .image-4-9Z7 {
              left: -0.8rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 14.2rem;
              height: 20rem;
              position: absolute;
            }
            .th-by-ch-nht-xanh-gow {
              height: 2rem;
              position: absolute;
              top: 3.2rem;
              line-height: 1.2125;
              color: rgba(0, 147, 255, 0.9499999881);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 18.6rem;
              left: 13.6rem;
              font-size: 1.6rem;
              font-weight: 700;
            }
            .group-7-NRs {
              left: 17.1rem;
              top: 0.1rem;
              display: flex;
              align-items: center;
              width: 15.9rem;
              height: 4rem;
              position: absolute;

              .auto-group-wlrt-W2H {
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 2.3rem;
                height: 4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .friday-dec-22-2023-Eys {
                line-height: 1.2125;
                color: #3b3838;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                font-size: 1.3rem;
                font-weight: 700;
              }
            }
            .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--Acd {
              width: 19.3rem;
              font-size: 1.1rem;
              font-family: Inter, 'Source Sans Pro';
              line-height: 1.2125;
              color: #000000;
              height: 10.7rem;
              position: absolute;
              left: 14.3rem;
              top: 5.8rem;
              font-weight: 400;
            }
            .group-6-7AV {
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              border-radius: 0.7952rem;
              position: absolute;
              left: 23.8rem;
              top: 17.6rem;
              justify-content: center;
              font-size: 0.6361rem;
              color: #000000;
              white-space: nowrap;
              background-color: rgba(217, 217, 217, 0.5899999738);
              width: 8.8rem;
              height: 1.4843rem;
              align-items: center;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
        }
        .s-kin-mi-heV {
          margin-top: 0.2rem;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
          width: 33.5rem;
          height: 20rem;
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 2rem;

          .image-4-2wf {
            width: 14.2rem;
            height: 20rem;
            position: absolute;
            left: -0.8rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .th-by-ch-nht-xanh-AHB {
            position: absolute;
            left: 13.6rem;
            font-weight: 700;
            line-height: 1.2125;
            color: rgba(0, 147, 255, 0.9499999881);
            font-family: Inter, 'Source Sans Pro';
            width: 13.6rem;
            height: 2rem;
            top: 3.2rem;
            font-size: 1.6rem;
            white-space: nowrap;
          }
          .group-7-rvh {
            left: 17.1rem;
            top: 0.1rem;
            display: flex;
            align-items: center;
            width: 15.9rem;
            height: 4rem;
            position: absolute;

            .auto-group-bgyk-CDs {
              margin-right: 0.4rem;
              width: 2.3rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .friday-dec-22-2023-8dK {
              color: #3b3838;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--Fxq {
            width: 19.3rem;
            position: absolute;
            top: 5.8rem;
            font-size: 1.1rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 10.7rem;
            left: 14.3rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .group-6-QjF {
            left: 23.8rem;
            display: flex;
            font-size: 0.6361rem;
            font-weight: 700;
            white-space: nowrap;
            border-radius: 0.7952rem;
            width: 8.8rem;
            height: 1.4843rem;
            color: #000000;
            position: absolute;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            top: 17.6rem;
            align-items: center;
            line-height: 1.2125;
            background-color: rgba(217, 217, 217, 0.5899999738);
          }
        }
      }
      .auto-group-5d7s-qZf {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .s-kin-mi-bHw {
          width: 33.5rem;
          height: 20rem;
          border-radius: 2rem;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.4rem 0rem;
          position: relative;
          overflow: hidden;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;

          .image-4-tnq {
            width: 14.2rem;
            height: 20rem;
            position: absolute;
            left: -0.8rem;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
          .th-by-ch-nht-xanh-RXs {
            top: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            width: 18.6rem;
            height: 2rem;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 13.6rem;
            font-size: 1.6rem;
            color: rgba(0, 147, 255, 0.9499999881);
          }
          .group-7-WpD {
            height: 4rem;
            position: absolute;
            left: 17.1rem;
            top: 0.1rem;
            display: flex;
            align-items: center;
            width: 15.9rem;

            .auto-group-dujh-Sxm {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 2.3rem;
              height: 4rem;
            }
            .friday-dec-22-2023-nWq {
              font-size: 1.3rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #3b3838;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
            }
          }
          .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--v7F {
            font-weight: 400;
            width: 19.3rem;
            position: absolute;
            left: 14.3rem;
            top: 5.8rem;
            font-size: 1.1rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 10.7rem;
          }
          .group-6-gEq {
            justify-content: center;
            line-height: 1.2125;
            color: #000000;
            background-color: rgba(217, 217, 217, 0.5899999738);
            left: 23.8rem;
            display: flex;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            width: 8.8rem;
            position: absolute;
            top: 17.6rem;
            border-radius: 0.7952rem;
            height: 1.4843rem;
            align-items: center;
            font-size: 0.6361rem;
            white-space: nowrap;
          }
        }
        .s-kin-mi-KYh {
          height: 20rem;
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 2rem;
          flex-shrink: 0;
          margin-top: 0.4rem;
          width: 33.5rem;
          overflow: hidden;
          background-color: #ffffff;

          .image-4-rYd {
            object-fit: cover;
            vertical-align: top;
            width: 14.2rem;
            height: 20rem;
            position: absolute;
            left: -0.8rem;
            top: 0;
          }
          .th-by-ch-nht-xanh-CMb {
            color: rgba(0, 147, 255, 0.9499999881);
            white-space: nowrap;
            left: 13.6rem;
            top: 3.2rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 18.6rem;
            height: 2rem;
            position: absolute;
            font-weight: 700;
          }
          .group-7-6hs {
            position: absolute;
            left: 17.1rem;
            top: 0.1rem;
            display: flex;
            align-items: center;
            width: 15.9rem;
            height: 4rem;

            .auto-group-bkad-dho {
              width: 2.3rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
            }
            .friday-dec-22-2023-yWm {
              line-height: 1.2125;
              color: #3b3838;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.3rem;
              font-weight: 700;
            }
          }
          .y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--uQR {
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 19.3rem;
            height: 10.7rem;
            left: 14.3rem;
            top: 5.8rem;
            position: absolute;
            font-size: 1.1rem;
            line-height: 1.2125;
          }
          .group-6-rys {
            top: 17.6rem;
            display: flex;
            white-space: nowrap;
            height: 1.4843rem;
            position: absolute;
            left: 23.8rem;
            color: #000000;
            width: 8.8rem;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            background-color: rgba(217, 217, 217, 0.5899999738);
            border-radius: 0.7952rem;
            align-items: center;
            font-size: 0.6361rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
      }
    }
  }
}
