
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.5rem;
}.trang-qun-l-s-kin-333 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(206, 195, 195, 0.0500000007);
}
.trang-qun-l-s-kin-333 .header-xQu {
  box-sizing: border-box;
  padding: 1.6rem 1.4rem 1.8rem 1.1rem;
  width: 100%;
  height: 9.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .auto-group-tpgh-4yj {
  margin: 0.263rem 6.15rem 0rem 0rem;
  width: 43.5rem;
  height: 6.0625rem;
  position: relative;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .auto-group-tpgh-4yj .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-zMb {
  width: 37.4rem;
  height: 1.9rem;
  position: absolute;
  left: 6.1rem;
  top: 3.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0056ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-qun-l-s-kin-333 .header-xQu .auto-group-tpgh-4yj .truyn-thng-v-s-kin-G4D {
  width: 22.9rem;
  height: 2.5rem;
  position: absolute;
  left: 7.9rem;
  top: 0.7rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0056ff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-qun-l-s-kin-333 .header-xQu .auto-group-tpgh-4yj .image-2-xSq {
  width: 7.5rem;
  height: 6.0625rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.trang-qun-l-s-kin-333 .header-xQu .trang-ch-6ow {
  margin: 0.2rem 3.65rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  text-decoration-line: underline;
  color: #0047fe;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .xt-thng-zeR {
  margin: 0.4rem 2.4rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .ng-gp-uWV {
  margin: 0.2rem 1.9rem 0rem 0rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .cp-nht-EHs {
  margin: 0.2rem 7.2rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .header-xQu .auto-group-68tm-9Qq {
  box-sizing: border-box;
  padding: 1.9rem 4.3rem 1.5rem 4.3rem;
  width: 40.3rem;
  height: 100%;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #9a9090;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f1f0f0;
  border-radius: 3rem;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .auto-group-vqpm-R7T {
  box-sizing: border-box;
  padding: 5.4rem 1.1rem 2.4rem 1.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .auto-group-vqpm-R7T .auto-group-kplm-kQd {
  margin: 0rem 61.5rem 12.9rem 0rem;
  width: calc(100% - 61.5rem);
  height: 9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-dkzh-f1o {
  margin-right: 3.7rem;
  box-sizing: border-box;
  /* padding: 2rem 0.8rem 2rem 4.85rem; */
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2.5rem;
  flex-shrink: 0;
  padding-left: 10px;
  height: 50px;
  width: 40%;
font-size: 1.5rem;
  appearance: none; /* Ẩn giao diện mặc định của select box */
   /* Đường dẫn đến hình ảnh của nút chỉ xuống */
  background-size: 30px; /* Kích thước của nút chỉ xuống */
  background-position: right 10px center; /* Vị trí của nút chỉ xuống */
  background-repeat: no-repeat; /* Không lặp lại hình ảnh */
  cursor: pointer; 
}
.trang-qun-l-s-kin-333 .auto-group-vqpm-R7T .auto-group-kplm-kQd .auto-group-dkzh-f1o .chn-loi-chng-ch-yHP {
  margin: 0.5rem 30.95rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(14, 14, 14, 0.4099999964);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .auto-group-vqpm-R7T .auto-group-kplm-kQd .auto-group-dkzh-f1o .group-eeR {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .auto-group-vqpm-R7T .auto-group-kplm-kQd .group-6-mj3 {
  margin: 3.3rem 0rem 1.5rem 0rem;
  width: 24.9rem;
  height: calc(100% - 4.8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2.25rem;
  flex-shrink: 0;
  cursor: pointer;
}
 .group-7-R2u {
  width: 24.9rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(121, 165, 252, 0.5899999738);
  border-radius: 2.25rem;
  flex-shrink: 0;
  cursor: pointer;
}
.trang-qun-l-s-kin-333 .footer-gzR {
  width: 100%;
  height: 21.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-9-F1w {
  width: 95.9843rem;
  height: 13.0578rem;
  position: absolute;
  left: 35.5rem;
  top: 2.1rem;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-9-F1w .image-2-U9b {
  width: 15.8843rem;
  height: 12.6578rem;
  position: absolute;
  left: 80.1rem;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-9-F1w .trng-i-hc-cng-ngh-thng-tin-hqg-hcm-rR3 {
  width: 82.1rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #0e0e0e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-10-ii9 {
  width: 73.2rem;
  height: 11.5rem;
  position: absolute;
  left: 39.95rem;
  top: 8.4rem;
  row-gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-10-ii9 .khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-dq7 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0e0e0e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-10-ii9 .in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-9YZ {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0e0e0e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.trang-qun-l-s-kin-333 .footer-gzR .group-10-ii9 .email-uitgmailcom-dyX {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #0e0e0e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
#imageContainer {
  /* text-align: center; */
  margin-top: 20px;
  width: 80%;

}

#previewImage {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}
.mid
{
  margin-top: -110px;
  margin-bottom: 30px;
}
.title
{
  display: flex;
  justify-content: space-between;
}
.title h1
{
  padding-bottom: 10px;
}
.title p
{
  padding-right: 3rem;
  font-size: 2rem;
  cursor: pointer;
}
.title p:hover{
  text-decoration: underline;
}
table {
  width: 99%;
  border-collapse: collapse;

}
thead{
font-size: 2.3rem;

}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}
td{
font-size: 2rem;
}
th {
  background-color: #f2f2f2;
}
.CheckBox
{
  display: none;
  text-align: center;
}
.CheckBox input
{
  text-align: center;
  width: 3rem;
  height: 3rem;
}

#Xoa
{
  background-color:#ff2b2b;
  display: none;
}