.chua
{
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
thead{
  font-size: 2.3rem;

}
  th, td {
    border: 1px solid #ddd;
    /* padding: 8px; */
    text-align: center;
  }
  tr
  {
    height: 100%;
  }
td{
  font-size: 2rem;
  height: 100%;
}
.Ngay
{
  height:10.6rem;
  display: flex;
  align-items: center;
  position: relative;
}
.Ngay div
{
  position:absolute;
  right: 0.1rem;
  cursor: pointer;
  background-color: #f05d5d;
  height: 9rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.Ngay div:hover
{
  opacity: 1;
}
.Hang input, .Hang p
{
  width: 100%;
  height: 6rem;
  font-size: 2rem;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;  /* Cho phép chữ xuống dòng nếu quá dài */
  overflow-wrap: break-word;  /* Tương tự như word-wrap, hỗ trợ trình duyệt khác nhau */
}
.Hang p
{
  padding-top: 2rem;
  line-height: 4rem;
}
  th {
    background-color: #f2f2f2;
  }

  .group-7-R2u {
    margin-top: 2rem;
    width: 24.9rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgba(121, 165, 252, 0.5899999738);
    border-radius: 2.25rem;
    flex-shrink: 0;
    cursor: pointer;
  }
  .group-7-R2u:active
  {
    opacity: 0.5;
  }
.buttonthem
{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffff;
}

input[type="date"] {
  padding: 8px;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width:25rem;
  height: 5rem;
}

/* Kiểu khi ô chọn lịch được focus */
input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Kiểu cho nền của ô chọn lịch */
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  margin-left: 4px;
}

/* Kiểu cho ngày được chọn trong lịch */
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: #e6e6e6;
}