<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>footer</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/footer.css"/>
</head>
<body>
<div class="footer-bxq">
  <div class="group-9-9jT">
    <img class="image-2-Umj" src="./assets/image-2-uL1.png"/>
    <p class="trng-i-hc-cng-ngh-thng-tin-hqg-hcm-1Fs">Trường đại học Công nghệ Thông tin - ĐHQG - HCM</p>
  </div>
  <div class="group-10-HDP">
    <p class="khu-ph-6-plinh-trung-tpth-c-tph-ch-minh-zNh">Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh.</p>
    <p class="in-thoi-028-372-51993-ext-113h-t-xa-qua-mng-112h-chnh-quy-tys">Điện thoại: (028) 372 51993, Ext: 113(Hệ từ xa qua mạng), 112(Hệ chính quy).</p>
    <p class="email-uitgmailcom-arh">Email: UIT@gmail.com</p>
  </div>
</div>
</body>