<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Header</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/header.css"/>
</head>
<body>
<div class="header-XU1">
  <div class="auto-group-svjo-Sqs">
    <p class="trng-i-hc-cng-ngh-thng-tin-hqg-hcm-Ams">Trường đại học Công nghệ Thông tin - ĐHQG - HCM</p>
    <p class="truyn-thng-v-s-kin-dfT">Truyền thông và sự kiện</p>
    <img class="image-2-iwo" src="./assets/image-2-DrD.png"/>
  </div>
  <p class="trang-ch-fc9">Trang chủ</p>
  <p class="xt-thng-ycq">Xét thưởng</p>
  <p class="ng-gp-VbB">Đóng góp</p>
  <p class="cp-nht-Qy3">Cập nhật</p>
  <div class="auto-group-ys9f-Y3f">Search.....</div>
</div>
</body>