<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Khối sự kiện chi tiết ở dưới</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/khi-s-kin-chi-tit-di.css"/>
</head>
<body>
<div class="khi-s-kin-chi-tit-di-gY5">
  <div class="auto-group-mvmb-yn5">
    <img class="truong-1-7NV" src="./assets/truong-1-VhX.png"/>
    <p class="s-kin-cp-trng-Sff">Sự kiện cấp trường</p>
  </div>
  <div class="auto-group-3r9t-kwF">
    <div class="s-kin-mi-6ER">
      <img class="image-4-pgD" src="./assets/image-4-J1T.png"/>
      <p class="th-by-ch-nht-xanh-ZNu">Thử bảy Chủ nhật xanh</p>
      <div class="group-7-dNm">
        <img class="auto-group-qhvf-MpZ" src="./assets/auto-group-qhvf.png"/>
        <p class="friday-dec-22-2023-u5P">Friday, Dec 22, 2023</p>
      </div>
      <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--RZX">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
      <div class="group-6-YnZ">XEM THÊM</div>
    </div>
    <div class="s-kin-mi-MV7">
      <img class="image-4-4PX" src="./assets/image-4-FMF.png"/>
      <p class="th-by-ch-nht-xanh-Pgh">Thử bảy Chủ nhật xanh</p>
      <div class="group-7-tNZ">
        <img class="auto-group-5naq-Dvd" src="./assets/auto-group-5naq.png"/>
        <p class="friday-dec-22-2023-ZUh">Friday, Dec 22, 2023</p>
      </div>
      <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--6Dj">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
      <div class="group-6-Q7w">XEM THÊM</div>
    </div>
    <div class="s-kin-mi-R33">
      <img class="image-4-LQu" src="./assets/image-4-GgM.png"/>
      <p class="th-by-ch-nht-xanh-4rh">Thử bảy Chủ nhật xanh</p>
      <div class="group-7-Mqo">
        <img class="auto-group-sdw3-6YV" src="./assets/auto-group-sdw3.png"/>
        <p class="friday-dec-22-2023-cmj">Friday, Dec 22, 2023</p>
      </div>
      <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--9Wm">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
      <div class="group-6-gf7">XEM THÊM</div>
    </div>
    <div class="s-kin-mi-X9w">
      <img class="image-4-Eq3" src="./assets/image-4-bRF.png"/>
      <p class="th-by-ch-nht-xanh-Tho">Bảo vệ khóa luận</p>
      <div class="group-7-Lmb">
        <img class="auto-group-vvyd-GfF" src="./assets/auto-group-vvyd.png"/>
        <p class="friday-dec-22-2023-pAy">Friday, Dec 22, 2023</p>
      </div>
      <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--wmP">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
      <div class="group-6-JVT">XEM THÊM</div>
    </div>
  </div>
  <div class="thanh-chuyn-trang-8Db">
    <div class="auto-group-iguk-QS1">
      <img class="mingcute-left-fill-kVs" src="./assets/mingcute-left-fill-6b7.png"/>
      <div class="group-9-guK">1</div>
    </div>
    <div class="group-10-xbw">2</div>
    <div class="group-11-E3f">3</div>
    <div class="group-12-u9o">4</div>
    <div class="group-13-B7K">5</div>
    <div class="group-14-Fcy">6</div>
    <div class="group-15-LuK">7</div>
    <div class="group-16-dNd">8</div>
    <div class="group-17-JzZ">9</div>
    <div class="group-Q21">
      <img class="vector-jKB" src="./assets/vector-ENH.png"/>
    </div>
  </div>
</div>
</body>