<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Sự kiện mới</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/s-kin-mi.css"/>
</head>
<body>
<div class="s-kin-mi-Ckm">
  <img class="image-4-L6H" src="./assets/image-4-qZP.png"/>
  <p class="th-by-ch-nht-xanh-esf">Thử bảy Chủ nhật xanh</p>
  <div class="group-7-Kyo">
    <img class="auto-group-gof3-4Ah" src="./assets/auto-group-gof3.png"/>
    <p class="friday-dec-22-2023-bAd">Friday, Dec 22, 2023</p>
  </div>
  <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--ux1">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
  <div class="group-6-Ecu">XEM THÊM</div>
</div>
</body>