<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Sự kiện nổi bật và mới nhất</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="./styles/s-kin-ni-bt-v-mi-nht.css"/>
</head>
<body>
<div class="s-kin-ni-bt-v-mi-nht-cf7">
  <div class="auto-group-dwi1-L5K">
    <div class="group-1-4GD">
      <img class="thit-k-cha-c-tn-1-DQ1" src="./assets/thit-k-cha-c-tn-1-GeR.png"/>
      <p class="s-kin-ni-bt-wL1">Sự kiện nổi bật</p>
    </div>
    <div class="group-7-eER">
      <img class="paper-1-1-bfT" src="./assets/paper-1-1-aDB.png"/>
      <p class="tin-tc-mi-nht-wUR">Tin tức mới nhất</p>
    </div>
  </div>
  <div class="auto-group-uzdb-4J9">
    <div class="s-kin-ni-bt-nht-oWd">
      <div class="frame-3-Kjs">
        <p class="xun-tnh-nguyn-2024-F7j">Xuân Tình Nguyện - 2024</p>
        <div class="auto-group-phau-9iu">
          <p class="friday-december-22-2023-J61">Friday, December 22, 2023</p>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-Pt9">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người................</p>
          <img class="vector-zN9" src="./assets/vector-F6d.png"/>
          <div class="group-5-LB7">XEM THÊM</div>
        </div>
      </div>
      <div class="image-3-jyw">
      </div>
    </div>
    <div class="frame-4-SNZ">
      <div class="auto-group-nfsd-LTw">
        <img class="mingcute-left-fill-EpD" src="./assets/mingcute-left-fill-CJy.png"/>
        <div class="auto-group-jomf-ZLh">1</div>
        <div class="auto-group-fvkh-nz9">2</div>
        <div class="auto-group-d317-eFf">3</div>
        <div class="auto-group-wyft-uBb">4</div>
        <div class="auto-group-w7mf-N5B">5</div>
        <div class="auto-group-e4wo-QXf">6</div>
        <div class="auto-group-wrgz-sRF">7</div>
        <div class="auto-group-zmrd-jCZ">8</div>
        <div class="auto-group-nl8d-PY1">9</div>
        <img class="mingcute-right-fill-TXs" src="./assets/mingcute-right-fill-UPF.png"/>
      </div>
      <div class="auto-group-g8qb-CEZ">
        <div class="auto-group-luu3-kG5">
          <img class="group-srV" src="./assets/group-N9j.png"/>
          <div class="s-kin-mi-1ho">
            <img class="image-4-9Z7" src="./assets/image-4-L7o.png"/>
            <p class="th-by-ch-nht-xanh-gow">Thử bảy Chủ nhật xanh</p>
            <div class="group-7-NRs">
              <img class="auto-group-wlrt-W2H" src="./assets/auto-group-wlrt.png"/>
              <p class="friday-dec-22-2023-Eys">Friday, Dec 22, 2023</p>
            </div>
            <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--Acd">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
            <div class="group-6-7AV">XEM THÊM</div>
          </div>
        </div>
        <div class="s-kin-mi-heV">
          <img class="image-4-2wf" src="./assets/image-4-xx5.png"/>
          <p class="th-by-ch-nht-xanh-AHB">Bảo vệ khóa luận</p>
          <div class="group-7-rvh">
            <img class="auto-group-bgyk-CDs" src="./assets/auto-group-bgyk.png"/>
            <p class="friday-dec-22-2023-8dK">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--Fxq">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-QjF">XEM THÊM</div>
        </div>
      </div>
      <div class="auto-group-5d7s-qZf">
        <div class="s-kin-mi-bHw">
          <img class="image-4-tnq" src="./assets/image-4-rs7.png"/>
          <p class="th-by-ch-nht-xanh-RXs">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-WpD">
            <img class="auto-group-dujh-Sxm" src="./assets/auto-group-dujh.png"/>
            <p class="friday-dec-22-2023-nWq">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--v7F">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-gEq">XEM THÊM</div>
        </div>
        <div class="s-kin-mi-KYh">
          <img class="image-4-rYd" src="./assets/image-4-e93.png"/>
          <p class="th-by-ch-nht-xanh-CMb">Thử bảy Chủ nhật xanh</p>
          <div class="group-7-6hs">
            <img class="auto-group-bkad-dho" src="./assets/auto-group-bkad.png"/>
            <p class="friday-dec-22-2023-yWm">Friday, Dec 22, 2023</p>
          </div>
          <p class="y-l-mt-trong-nhng-hot-ng-ngha-c-t-chc-hng-nm-vo-ma-xun-nhm-mc-ch-gip-nhng-mnh-i-km-may-mn-em-n-cho-mi-ngi-c-hi-i-i-v-gp-c-nhng-iu-ngha-trong-cuc-sng-hi-vng-rng--uQR">Đây là một trong những hoạt động ý nghĩa, được tổ chức hằng năm vào mùa xuân, nhằm mục đích giúp đỡ những mảnh đời kém may mắn, đem đến cho mọi người cơ hội để đổi đời và gặp được những điều ý nghĩa trong cuộc sống, hi vọng rằng ................</p>
          <div class="group-6-rys">XEM THÊM</div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>