<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>thanh chuyển trang</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="./styles/thanh-chuyn-trang.css"/>
</head>
<body>
<div class="thanh-chuyn-trang-Jdj">
  <div class="auto-group-8fau-2Jq">
    <img class="mingcute-left-fill-m1X" src="./assets/mingcute-left-fill-JZB.png"/>
    <div class="group-9-J1T">1</div>
  </div>
  <div class="group-10-YRb">2</div>
  <div class="group-11-ocR">3</div>
  <div class="group-12-Gku">4</div>
  <div class="group-13-kvy">5</div>
  <div class="group-14-qBj">6</div>
  <div class="group-15-7Q9">7</div>
  <div class="group-16-yhF">8</div>
  <div class="group-17-GAZ">9</div>
  <div class="group-ZQZ">
    <img class="vector-UGd" src="./assets/vector-RnD.png"/>
  </div>
</div>
</body>